{% extends "base.html" %}

{% block content %}
    <h1>{{ company.name }} Dashboard</h1>
    <hr>
    <h3>Our Employees</h3>
    <a href="{{ url_for('company_add_employee') }}" class="btn btn-primary mb-3">Add New Employee</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Aadhar</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Job Type</th>
                <th>Recruited By</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{ emp.aadhar_card }}</td>
                <td>{{ emp.name }}</td>
                <td>{{ emp.mobile_number }}</td>
                <td>{{ emp.type_of_job }}</td>
                <td>{{ emp.vendor.name if emp.vendor else 'Direct Hire' }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No employees found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}